# Uppgift 2 - uppvärmning vaccindata

In [124]:
import pandas as pd
vaccine = pd.read_excel("covid_data\Folkhalsomyndigheten_Covid19_Vaccine.xlsx", "Vaccinerade kommun och ålder")
vaccine.head(15)

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1046,NaN,NaN,0.497936,0.431874,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,839,755,NaN,NaN,0.697423,0.627598,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4887,4469,1959.0,NaN,0.730275,0.667812,0.292738,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5542,5240,2878.0,NaN,0.755865,0.714675,0.392526,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5592,5429,3719.0,NaN,0.805068,0.781601,0.535416,NaN
5,1,Stockholms län,114,Upplands Väsby,50-59,6332,5644,5558,4535.0,NaN,0.891346,0.877764,0.716203,NaN
6,1,Stockholms län,114,Upplands Väsby,60-69,4258,3829,3786,3335.0,NaN,0.899248,0.889150,0.783232,NaN
7,1,Stockholms län,114,Upplands Väsby,70-79,3987,3786,3758,3584.0,3051.0,0.949586,0.942563,0.898921,0.765237
8,1,Stockholms län,114,Upplands Väsby,80-89,1934,1859,1856,1802.0,1617.0,0.961220,0.959669,0.931748,0.836091
9,1,Stockholms län,114,Upplands Väsby,90 eller äldre,337,330,327,319.0,277.0,0.979228,0.970326,0.946588,0.821958
10,1,Stockholms län,115,Vallentuna,12-15,2109,1196,1069,NaN,NaN,0.567093,0.506875,NaN,NaN
11,1,Stockholms län,115,Vallentuna,16-17,1014,841,768,NaN,NaN,0.829389,0.757396,NaN,NaN
12,1,Stockholms län,115,Vallentuna,18-29,4210,3374,3189,1651.0,NaN,0.801425,0.757482,0.392162,NaN
13,1,Stockholms län,115,Vallentuna,30-39,4286,3602,3499,2266.0,NaN,0.840411,0.816379,0.528698,NaN
14,1,Stockholms län,115,Vallentuna,40-49,5277,4701,4604,3604.0,NaN,0.890847,0.872465,0.682964,NaN

- a) Hur många län finns representerade i datasetet?

In [ ]:
count_län = len(vaccine["Län_namn"].unique()) # amount: len() of unique items in "Län_namn"
print(f"{count_län = }")

- b) Hur många kommuner finns representerade i datasetet?

In [ ]:
count_kommun = vaccine["Kommun_namn"].nunique()
print(f"{count_kommun = }")

- c) Hur stor är befolkningen som är representerad i datasetet?

In [ ]:
count_befolkning = sum(vaccine["Befolkning"])
print(f"{count_befolkning = }")

- d) Beräkna hur många barn under 18 år det finns i Sverige baserat på det här datasetet. Du får leta upp
statistik på hur stor totala befolkningen är i Sverige.

In [123]:

filter_age = (vaccine["Ålder"] == "12-15") | (vaccine["Ålder"] == "16-17")

under_age = vaccine[filter_age]
count_under_age = sum(under_age["Befolkning"])
print(f"{count_under_age = }")

count_under_age = 745370